<a href="https://colab.research.google.com/github/JinHuiXu1991/Jin_DATA606/blob/main/ipynb/DATA606_Part2_KnowledgeBasedRecommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Amazon Product Recommender Systems
## Author: Jin Hui Xu

##Knowledge Based Recommender

In [ ]:
!wget https://github.com/JinHuiXu1991/Jin_DATA606/blob/main/cleaned_data/cleaned_amazon_product.zip?raw=true

!wget https://github.com/JinHuiXu1991/Jin_DATA606/blob/main/cleaned_data/cleaned_amazon_review.zip?raw=true

--2022-04-20 01:12:12--  https://github.com/JinHuiXu1991/Jin_DATA606/blob/main/cleaned_data/cleaned_amazon_product.zip?raw=true
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/JinHuiXu1991/Jin_DATA606/raw/main/cleaned_data/cleaned_amazon_product.zip [following]
--2022-04-20 01:12:13--  https://github.com/JinHuiXu1991/Jin_DATA606/raw/main/cleaned_data/cleaned_amazon_product.zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JinHuiXu1991/Jin_DATA606/main/cleaned_data/cleaned_amazon_product.zip [following]
--2022-04-20 01:12:13--  https://raw.githubusercontent.com/JinHuiXu1991/Jin_DATA606/main/cleaned_data/cleaned_amazon_product.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5348817 (5.1M) [application/zip]
Saving to: ‘cleaned_amazon_product.zip?raw=true.1’

cleaned_amazon_prod 100%[===================>]   5.10M  --.-KB/s    in 0.07s

2022-04-20 01:12:13 (68.2 MB/s) - ‘cleaned_amazon_product.zip?raw=true.1’ saved [5348817/5348817]

--2022-04-20 01:12:13--  https://github.com/JinHuiXu1991/Jin_DATA606/blob/main/cleaned_data/cleaned_amazon_review.zip?raw=true
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/JinHuiXu1991/Jin_DATA606/raw/main/cleaned_data/cleaned_amazon_review.zip [following]
--2022-04-20 01:12:13--  https://github.com/JinHuiXu1991/Jin_DATA606/raw/main/cleaned_data/cleaned_amazon_review.zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JinHuiXu1991/Jin_DATA606/main/cleaned_data/cleaned_amazon_review.zip [following]
--2022-04-20 01:12:13--  https://raw.githubusercontent.com/JinHuiXu1991/Jin_DATA606/main/cleaned_data/cleaned_amazon_review.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51337311 (49M) [application/zip]
Saving to: ‘cleaned_amazon_review.zip?raw=true.1’

cleaned_amazon_revi 100%[===================>]  48.96M   202MB/s    in 0.2s

2022-04-20 01:12:14 (202 MB/s) - ‘cleaned_amazon_review.zip?raw=true.1’ saved [51337311/51337311]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
product_df = pd.read_csv('/content/cleaned_amazon_product.zip?raw=true', compression='zip')

In [ ]:
# keep the features that need user input
product_df = product_df[['category', 'title', 'brand', 'main_cat', 'price', 'dateYear', 'dateMonth', 'asin', 'ori_title']]

In [ ]:
product_df.head()

,category,title,brand,main_cat,price,dateYear,dateMonth,asin,ori_title
0,"Appliances Refrigerators, Freezers & Ice Makers",tupperware freezer square round container set ...,tupperware,appliances,NaN,2008,11,7301113188,Tupperware Freezer Square Round Container Set ...
1,"Appliances Refrigerators, Freezers & Ice Makers",2 x tupperware pure amp fresh unique covered c...,tupperware,appliances,3.62,2016,6,7861850250,2 X Tupperware Pure &amp; Fresh Unique Covered...
2,Appliances Parts & Accessories,the cigar moments of pleasure,the cigar book,amazon home,150.26,0,0,8792559360,The Cigar - Moments of Pleasure
3,Appliances Parts & Accessories,caraselle 2x 50g appliance descalene,caraselle,tools home improvement,NaN,2014,12,9792954481,Caraselle 2X 50G Appliance Descalene
4,Appliances Parts & Accessories Range Parts & A...,eaton wiring 39ch sp l arrow hart 1 gang chrom...,eaton wiring,tools home improvement,3.43,2007,1,B00002N5EL,EATON Wiring 39CH-SP-L Arrow Hart 1-Gang Chrom...

In [ ]:
product_df.price = product_df.price.fillna(0)
product_df = product_df.fillna('')
product_df.isnull().sum()

category     0
title        0
brand        0
main_cat     0
price        0
dateYear     0
dateMonth    0
asin         0
ori_title    0
dtype: int64

In [ ]:
review_df = pd.read_csv('/content/cleaned_amazon_review.zip?raw=true', compression='zip')

In [ ]:
review_df = review_df.fillna('')
review_df.isnull().sum()

overall            0
reviewTime         0
reviewerID         0
asin               0
reviewText         0
summary            0
reviewTimeYear     0
reviewTimeMonth    0
dtype: int64

In [ ]:
review_df.head()

,overall,reviewTime,reviewerID,asin,reviewText,summary,reviewTimeYear,reviewTimeMonth
0,5.0,2013-11-27,A3NHUQ33CFH3VM,1118461304,not one thing in this book seemed an obvious o...,clear on what leads to innovation,2013,11
1,5.0,2013-11-01,A3SK6VNBQDNBJE,1118461304,i have enjoyed dr alan gregerman s weekly blog...,becoming more innovative by opening yourself t...,2013,11
2,5.0,2013-10-10,A3SOFHUR27FO3K,1118461304,alan gregerman believes that innovation comes ...,the world from different perspectives,2013,10
3,5.0,2013-10-09,A1HOG1PYCAE157,1118461304,alan gregerman is a smart funny entertaining w...,strangers are your new best friends,2013,10
4,5.0,2013-09-07,A26JGAM6GZMM4V,1118461304,as i began to read this book i was again remin...,how and why it is imperative to engage learn f...,2013,9

Calculate the rating mean for each product

In [ ]:
product_grouped = review_df.groupby('asin').size().reset_index(name='review_counts')
product_grouped_rating = review_df.groupby('asin')['overall'].sum().reset_index(name='overall_sum')
product_grouped['rating_mean'] = product_grouped_rating['overall_sum'] / product_grouped['review_counts']
product_grouped = product_grouped.sort_values('review_counts', ascending=False)
product_grouped

             asin  review_counts  rating_mean
421    B000AST3AK           6510     4.422427
5891   B004UB1O9Q           5702     4.341810
1634   B0014CN8Y8           4048     4.676383
17054  B00KJ07SEM           3200     4.409063
5289   B0045LLC7K           2936     4.403270
...           ...            ...          ...
15012  B00GMJ0QCU              1     5.000000
15013  B00GMJ1IDQ              1     5.000000
15014  B00GMJ1XYU              1     5.000000
15018  B00GMJ5SGY              1     4.000000
30251  B01HJHHQM6              1     5.000000

[30252 rows x 3 columns]

Merge the rating mean and review count values to the product dataframe

In [ ]:
product_df = product_df.merge(product_grouped, on='asin', how='left')

In [ ]:
product_df

,category,title,brand,main_cat,price,dateYear,dateMonth,asin,ori_title,review_counts,rating_mean
0,"Appliances Refrigerators, Freezers & Ice Makers",tupperware freezer square round container set ...,tupperware,appliances,0,2008,11,7301113188,Tupperware Freezer Square Round Container Set ...,1.0,5.0
1,"Appliances Refrigerators, Freezers & Ice Makers",2 x tupperware pure amp fresh unique covered c...,tupperware,appliances,3.62,2016,6,7861850250,2 X Tupperware Pure &amp; Fresh Unique Covered...,1.0,3.0
2,Appliances Parts & Accessories,the cigar moments of pleasure,the cigar book,amazon home,150.26,0,0,8792559360,The Cigar - Moments of Pleasure,7.0,5.0
3,Appliances Parts & Accessories,caraselle 2x 50g appliance descalene,caraselle,tools home improvement,0,2014,12,9792954481,Caraselle 2X 50G Appliance Descalene,2.0,3.5
4,Appliances Parts & Accessories Range Parts & A...,eaton wiring 39ch sp l arrow hart 1 gang chrom...,eaton wiring,tools home improvement,3.43,2007,1,B00002N5EL,EATON Wiring 39CH-SP-L Arrow Hart 1-Gang Chrom...,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
30234,Appliances Parts & Accessories,bosch 00175338 switch,bosch,tools home improvement,40.23,2016,6,B01HJH92JQ,Bosch 00175338 Switch,2.0,2.0
30235,Appliances Parts & Accessories,bosch 00478807 panel facia,bosch,tools home improvement,95.99,2010,3,B01HJH2I5G,Bosch 00478807 Panel-Facia,2.0,5.0
30236,Appliances Parts & Accessories,bosch 00649288 ice maker,bosch,tools home improvement,250.79,2016,6,B01HJH0J1G,Bosch 00649288 Ice Maker,1.0,5.0
30237,Appliances Parts & Accessories Range Parts & A...,frigidaire 316543810 knob,frigidaire,tools home improvement,14.99,2016,6,B01HJHHEA0,Frigidaire 316543810 Knob,2.0,3.5
30238,Appliances Parts & Accessories,bosch 00674704 pump drain,bosch,tools home improvement,64.99,2010,4,B01HJH397M,Bosch 00674704 Pump-Drain,5.0,5.0

In [ ]:
# Split the category by ',' and stack it one after the other for easy analysis
cat = product_df['category'].str.split(',').apply(pd.Series, 1).stack()
cat.index = cat.index.droplevel(-1)

# Split the category by '&' and stack it one after the other for easy analysis
cat = cat.str.split('&').apply(pd.Series, 1).stack()
cat.index = cat.index.droplevel(-1)

# Assign names to columns
cat.name = 'category'

product_df2 = product_df.copy()
# Delete column 'category'
del product_df2['category']

# Join new column with the existing dataframe
cat_df = product_df2.join(cat)

#Print the head of the new cat_df
cat_df.head()

,title,brand,main_cat,price,dateYear,dateMonth,asin,ori_title,review_counts,rating_mean,category
0,tupperware freezer square round container set ...,tupperware,appliances,0,2008,11,7301113188,Tupperware Freezer Square Round Container Set ...,1.0,5.0,Appliances Refrigerators
0,tupperware freezer square round container set ...,tupperware,appliances,0,2008,11,7301113188,Tupperware Freezer Square Round Container Set ...,1.0,5.0,Freezers
0,tupperware freezer square round container set ...,tupperware,appliances,0,2008,11,7301113188,Tupperware Freezer Square Round Container Set ...,1.0,5.0,Ice Makers
1,2 x tupperware pure amp fresh unique covered c...,tupperware,appliances,3.62,2016,6,7861850250,2 X Tupperware Pure &amp; Fresh Unique Covered...,1.0,3.0,Appliances Refrigerators
1,2 x tupperware pure amp fresh unique covered c...,tupperware,appliances,3.62,2016,6,7861850250,2 X Tupperware Pure &amp; Fresh Unique Covered...,1.0,3.0,Freezers

A simple knowledge-based recommender that takes user input for a recommendation.

In [ ]:
def knowledge_recommender(df):
    #Ask for preferred main category
    print("Input preferred main category")
    main_cat = input()
    
    #Ask for preferred sub category
    print("Input preferred sub category")
    sub_cat = input()
    
    #Ask for preferred brand
    print("Input preferred brand")
    brand = input()
    
    #Ask for preferred product release year
    print("Input preferred product release year")
    year = input()


    products = df.copy()
    
    #Filter based on the condition
    if main_cat != '':
      products = products[(products['main_cat'].str.contains(main_cat, case=False))]

    if sub_cat != '':
      products = products[(products['category'].str.contains(sub_cat, case=False))]

    if brand != '':
      products = products[(products['brand'].str.contains(brand, case=False))]

    if year != '':
      products = products[(products['dateYear'] == int(year))]

    #Sort products in descending order of their rating scores and review counts
    products = products.sort_values(['rating_mean', 'review_counts'], ascending=[False, False])

    output_df = products.copy()
    output_df = output_df.drop_duplicates('asin')
    return output_df

In [ ]:
asin = knowledge_recommender(cat_df).head(10)['asin'].tolist()

Input preferred main category

Input preferred sub category

Input preferred brand

Input preferred product release year

In [ ]:
print('Knowledge Based Recommender Result:')
for i in range(0, len(asin)):
  print('{}. {}, {}'.format(i+1, asin[i], product_df[product_df['asin'] == asin[i]]['ori_title'].item()))

Knowledge Based Recommender Result:
1. B00MGMWO18, GARP 80040 Compatible Replacement for Agitator Dogs Fits Estate, Whirlpool, Kenmore, KitchenAid, Roper
2. B01BR37BNW, GE WD35X21041 Dishwasher Dishwasher Lower Rack Kit 8
3. B000XSTXKW, Sally Hansen Diamond Strength No Chip Nail Color, Sunrise, Sunset 81
4. B0053Y2SY4, Whirlpool 22003593 Door Latch Assembly for Washer
5. B01BTY5AR8, Everflow Supplies 2662-NL Lead Free Stainless Steel Braided Ice Maker Supply Line with Two 1/4&quot; Fittings on Both Ends, 24&quot;
6. B00G1968H8, LA-1053, 53-0771, 53-1096, 53-1182 OEM FACTORY ORIGINAL GENUINE WHIRLPOOL KENMORE MAYTAG DRYER THERMOSTAT KIT
7. B005XB4JVC, Pocket Temperature/Humidity Meter
8. B00147FJ3G, Broan RMP3604 Backsplash, 36-Inch, Stainless Steel
9. B00OB1YETM, Frigidaire 5304495520 Oven Control Board, Black
10. B00Y1RD082, 8540751 Whirlpool Washer Valve

## Model Deployment

For this project, we are not deploying a model that takes user inputs like the above. Instead, we sort the product lists by rating mean and review counts for a recommendation. This is the base model we would use if the users don't have a customer ID and product ID for our recommender system.

In [ ]:
cat_df = cat_df.sort_values(['rating_mean', 'review_counts'], ascending=[False, False])
cat_df = cat_df.drop_duplicates('asin')

In [ ]:
compression_opts = dict(method='zip',archive_name='product_rating_rank.csv')  
cat_df.to_csv('product_rating_rank.zip', index=False, header = True, compression=compression_opts)